# Dependencies
node_modules
npm-debug.log

# Build output
.next
out
dist

# Git
.git
.gitignore

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Testing
coverage
.nyc_output

# Misc
.DS_Store
*.pem
*.log

# Documentation
README.md
